@import "tailwindcss";

/* -------------------- Theme Token------------------ */

@theme {
  --color-primary: #f39c0b;
  --color-secondary: #e86f00;
  --color-primaryDark: #db5609;
  --color-dark: #656565;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 2px #1128015b
  } 

  .img-shadow {
    filter: drop-shadow(40px 50px 25px #300000eb)
  }
  .img-shadow2 {
    filter: drop-shadow(40px 50px 25px #3030307a)
  }

  .secondary-btn {
   @apply border
  }

  .large-text {
    @apply  text-center text-7xl sm:text-[120px] md:text-[150px] xl:text-[180px] text-white uppercase font-bold absolute bottom-0 w-full z-0 text-shadow-lg
  }
  
.primary-btn {
  @apply bg-primary w-full text-white px-4 py-2 rounded-md hover:bg-secondary duration-300
}
  .secondary-btn {
    @apply border border-white px-4 py-2 rounded-e-lg
  }
  .input-style {
    @apply px-4 py-2 border  border-gray-400 rounded-md
  }

  
}